<% include ../head %>
<% include ../nav %>

	<div class="row">
        <div id="title" class="col-xs-8">
			<div class="page-header">
			    <h1><%= name %></h1>
		    </div>
		</div>
    </div>
    <div class="row">
	        <div id="content" class="col-xs-8">
	        <%- doc %>
	        </div>
	        <div class="col-xs-4 comments">
	        <button id="addCommentButton" class="btn btn-primary">Add Comment</button>
	        	<div class="addComment">
					<form>
						<input id="docContent" class="hidden" name="content" />
						<input id="revision" class="hidden" name="revision" value="<%= revision %>" />
						<input id="userId" class="hidden" name="userId" value="<%= user.userId %>" />
						<input id="numberOfComments" class="hidden" name="numberOfComments" value="<%= comments && comments.length %>"/>
				        <div class="form-group">
				            <label for="comment">Comment:</label>
					        <textarea id="commentBox" class="form-control" name="comment"></textarea>
				        </div>
			        </form>
					<button id="saveCommentButton" class="btn btn-primary">Add</button>
					<button id="cancelCommentButton" class="btn btn-cancel">Cancel</button>
		        </div>
		        <ul>
		        	<% if (comments) {
			        	comments.sort((a, b) => {
	                		return a.index - b.index;
	            		});

			        	for(var i=0; i<comments.length; i++) {%>
						   <li>
							   	<div data-author-id="<%= comments[i].authorId %>" data-comment-id="<%= comments[i].commentId %>" class="comment">
								   	<div class="comment-heading">
								   		<img src="<%= comments[i].picture %>" /> <%= comments[i].author %><br/>
								   	  	<span class="date"><%= moment(comments[i].created_at).format('h:mm A MM-DD-YY') %></span>
								   	</div>
									<div class="comment-content">
										<%= comments[i].content %>
									</div>
								</div>
						   </li>
						<% } %>
					<% } %>
		        </ul>
	        </div>
    </div>

<% include ../foot %>
